@if(beforeImage() && afterImage()) {
<div class="image-comparison">
    <div class="images-container">
        
        <img class="before-image image" [src]="beforeImage()" alt="" [ngStyle]="{ 'width': sliderValue() + '%', 'max-height': maxHeight() + 'px' }" />
        <img class="after-image image" [src]="afterImage()" [ngStyle]="{ 'max-height': maxHeight() + 'px' }" />

        
        <div>
            <div class="slider-line" [ngStyle]="{ 'left': sliderValue() + '%' }"></div>
            <div class="slider-icon" [ngStyle]="{ 'left':  sliderValue() + '%' }">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                </svg>
            </div>
    
            <input type="range" name="sliderRange" class="slider" min="0" [(ngModel)]="sliderValue" max="100" />
        </div>
        
    </div>
</div>
}