<div class="flex flex-col h-dvh">
    <app-swagger-editor-toolbar />
    <div class="flex-1 min-h-0">
        @if(isBrowser()) {
            <div class="flex w-full h-full min-h-0">
                <div class="flex-1 min-w-0 min-h-0 border-r border-gray-200">
                    <app-monaco-editor [options]="editorOptions()" (onPaste)="handleOnPaste($event)" (onEditorLoaded)="handleEditorLoaded($event)" [(code)]="definitionSpec" (codeChange)="onContentChanges($event)"></app-monaco-editor>
                </div>
                <div class="flex-1 min-w-0 min-h-0 overflow-hidden">
                    <div class="h-full overflow-y-auto">
                        <div #custApiDocElement></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
