@import "swagger-ui-dist/swagger-ui.css";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

::ng-deep .swagger-ui {
  .scheme-container {
    box-shadow: none;
    padding: 0;
  }

  .info {
    margin: 0;
  }
}


