:host {
  display: block;
  height: 100%;
}

::ng-deep .swagger-ui {
  .scheme-container {
    box-shadow: none;
    padding: 0;
  }

  .info {
    margin: 0;
  }
}

.shadow-3xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.7);
}

.font-mono {
  font-variant-ligatures: none;
}

/* Custom Scrollbar for Terminal */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
