<app-top-navbar></app-top-navbar>
<!-- Main Content -->
<main class="flex-grow container mx-auto px-4 py-8">
    <div>
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Image Upload & Processing</h2>
            @if(!file()) {
                <div class="flex flex-col h-32">
                    <app-drag-and-drop-file name="file" [validExtensions]="allowedExtensions" (onFileChange)="file.set($event)" class="h-full flex-1"></app-drag-and-drop-file>
                </div>
            } @else {
                <div class="mt-4">
                    <div class="max-h-[600px] overflow-hidden relative flex items-center justify-center ">
                        @if(!imageOutput()) {
                            <img [src]="file()! | blob" width="auto" class="rounded-lg object-contain max-h-[600px] ">
                        } @else {
                            <app-image-comparison [beforeImage]="fileUrl()!" [afterImage]="imageOutputUrl()!" [maxHeight]="600"></app-image-comparison>
                        }
                    </div>
                    <div class="flex flex-col gap-4 mt-4 justify-center">
                        @if(!imageOutput()) {

                            
                            @if(loading()) {
                                <div>
                                    @let progressInfo = downloadProgress();
                                    @if(progressInfo) {
                                        @if(progressInfo.status === 'progress' && progressInfo.file.endsWith('.onnx')) {
                                            <div>Downloading model ...</div>
                                            @let percent = progressInfo.status === 'progress' ? progressInfo.progress : 0;
                                            <app-progress-bar [progress]="percent"></app-progress-bar>
                                        } @else if(progressInfo.status === 'done') {
                                            <div>Processing the image ...</div>
                                        } @else if(progressInfo.status !== 'progress' && progressInfo.status !== undefined) {
                                            <div>Loading model file ...</div>
                                        }
                                    }
                                </div>

                                
                            }
                            

                            <button (click)="removeBackground()" [disabled]="loading()" class="bg-indigo-700 text-white font-medium py-2 px-4 rounded hover:bg-indigo-800 transition disabled:cursor-not-allowed disabled:bg-indigo-300 flex items-center justify-center justify-items-center gap-1">
                                @if(loading()) {
                                    <app-loading-spinner-small></app-loading-spinner-small>
                                }
                                Remove Background
                            </button>
                            <button (click)="cancel()" [disabled]="loading()"
                                class="bg-white border border-indigo-700 text-indigo-700 font-medium py-2 px-4 rounded hover:bg-indigo-200 hover:text-indigo-800 transition disabled:bg-gray-200 disabled:text-gray-400 disabled:border-gray-400">
                                Cancel
                            </button>
                        } @else {
                            

                            
                            <button (click)="downloadImage()" class="bg-indigo-700 text-white font-medium py-2 px-4 rounded hover:bg-indigo-800 transition disabled:cursor-not-allowed disabled:bg-indigo-300 flex items-center justify-center justify-items-center gap-1">
                                Download Image
                            </button>
                            <button (click)="cancel()"
                                class="bg-white border border-indigo-700 text-indigo-700 font-medium py-2 px-4 rounded hover:bg-indigo-200 hover:text-indigo-800 transition disabled:bg-gray-200 disabled:text-gray-400 disabled:border-gray-400">
                                Process Another Image
                            </button>
                        }

                    </div>
                </div>
            }
        </div>


    </div>

    <!-- Background Removal Information Section -->
    <div class="md:col-span-2 mt-8">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">About Background Removal</h2>

        <div class="bg-white rounded-lg shadow-md p-6 space-y-6">
            <div>
                <h3 class="text-xl font-semibold mb-3 text-gray-800">What is Background Removal?</h3>
                <p class="text-gray-600">Background removal is a digital image editing technique that separates the main subject from its background. This creates transparent images that can be placed on any new background.</p>
            </div>
        </div>
    </div>
</main>