<div class="min-h-screen bg-gray-100">

    <app-top-navbar></app-top-navbar>

    <main class="flex-grow container mx-auto px-4 py-8">
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-center">
                <app-select-button [options]="modes" [(ngModel)]="selectedMode"></app-select-button>
            </div>

            @if(selectedMode() === 'decode') {
                <app-jwt-decoder></app-jwt-decoder>
            } @else {
                <app-jwt-encoder></app-jwt-encoder>
            }
        </div>

        <div class="mt-8">
            <h2 class="text-2xl font-bold mb-6 text-gray-800">About JWT Tokens</h2>
            <div class="bg-white rounded-lg shadow-md p-6 space-y-6">
                <div>
                    <h3 class="text-xl font-semibold mb-3 text-gray-800">What is JWT?</h3>
                    <p class="text-gray-600">
                        JSON Web Token (JWT) is an open standard that defines a compact and self-contained way for securely transmitting information between parties as a JSON object. This information can be verified and trusted because it is digitally signed.
                    </p>
                </div>
                <div>
                    <h3 class="text-xl font-semibold mb-3 text-gray-800">Common Uses</h3>
                    <ul class="list-disc pl-5 text-gray-600 space-y-2">
                        <li>Authentication and authorization in web applications</li>
                        <li>Information exchange between parties</li>
                        <li>Securing API endpoints</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>